/* GENERAL */
:root{
    --contact-bar-controls-a-hover: #39a3d4;
    --text-color: #fff;
    --background-color-social-icon-bg: #eeefed;
    --footer-color-social-icon-color: #989898;
    --nav-bar-post-title-color: #de5728;
    --social-icon-hover: #5bd0ec;
    --nav-bar-bg: #f2f2f2;
    --navigation-li-border: #cecece;
    --nav-a-footer-p-color: #a6a6a6;
    --body-h2-color-footer-bg: #323232;
    --footer-email-color: #e75652;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color:var(--body-h2-color-footer-bg);
    background: var(--background-color-social-icon-bgicon-bg);
    font-family: Source Sans Pro sans-serif;
}

.group::after {
    content: "";
    clear: both;
    display: table;
}

strong {
    font-weight: 600;
}

a {
    color: var(--text-color);
}

li {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
} 

/* CONTACT */
.menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu li {
    float: left;
}

.contact-bar {
    color: var(--text-color);
    background: var(--contact-bar-controls-a-hover);
    height: 5.25rem;
}

.contact {
    float: left;
    margin-top: 1.8rem;
    font-size: 0.8rem;
}

.contact li {
    margin-right: 4.3rem;
}

.social {
    float: right;
    margin-top: 1.1rem;
}

.social-icon {
    display: block;
    height: 3rem;
    width: 3rem;
    line-height: 2.8rem;
    background: var(--background-color-social-icon-bg);
    color: var(--footer-color-social-icon-color);
    text-align: center;
    border-radius: 0.1rem;
    margin-left: 0.125rem;
}

.social-icon:hover, 
.social-icon:focus {
    color: var(--text-color);
    background: var(--social-icon-hover);
}

/* NAVIGATION */
.nav-bar {
    background: var(--nav-bar-bg);
}

.logo {
    float: left;
    width: calc(100% - 33rem);
}

.logo a {
    display: block;
    background: url(../Final-project/image/logo.png) 0 0 no-repeat;
    height: 4.4rem;
    margin-top: 1.5rem;
}

.navigation {
    float: right;
}

.navigation li {
    border-left: 0.0625rem solid var(--navigation-li-border);
}

.navigation li:last-child {
    border-right: 0.0625rem solid var(--navigation-li-border);
}

.navigation a {
    color: var(--nav-a-footer-p-color);
    display: block;
    width: 8rem;
    height: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
  }

.navigation .fas {
    display: block;
    padding-bottom: 0.6rem;
    padding-top: 1.75rem;
}

.selekted a,
.navigation a:hover,
.navigation a:focus {
    color: var(--nav-bar-post-title-color);
}


/* ARTICLE */
.text-center {
    text-align: center;
}

.post-header {
    height: 166px;
    background: url(../Final-project/image/cover.jpg) center -200px no-repeat;
    background-size: cover;
}

.post-title {
    color: var(--text-color);
    font-size: 2.8rem;
    font-weight: 600;
    background: var(--nav-bar-post-title-color);
    padding: 1.125rem 2.8rem;;
    border-radius: 0.4rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -0.125rem;
    margin-top: 2.25rem;
}

.post-content {
    padding-bottom: 9.375rem;
}

.post-content h2 {
    font-weight: 400;
    color: var(--body-h2-color-footer-bg);
    font-size: 1.875rem;
    line-height: 2.625rem;
}

.controls {
    width: 39rem;
    margin: 3.1rem auto;
    text-align: center;
}

.controls a {
    font-size: 1.063rem;
    font-weight: 300;
    color: var(--contact-bar-controls-a-hover);
    text-transform: uppercase;
    padding: 0 1.563rem;
    line-height: 3rem;
    display: block;
    margin-bottom: 2.5rem;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
    color: var(--text-color);
    background: var(--contact-bar-controls-a-hover);
    border-radius: 0.25rem;
}

.galery img {
    width: 23.938rem;
    height: 12rem;
}

.galery {
    margin-top: 0.625rem;
    font-size: 0;
}

/* FOOTER */
.pre-footer {
    color: var(--text-color);
    background: var(--body-h2-color-footer-bg);
    text-align: center;
}

.pre-footer .container {
    width: 25rem;
    padding: 2.5rem 0 3.75rem 0;;
}

.pre-footer p {
    font-size: 0.875rem;
    text-transform: uppercase;
    line-height: 1.6rem;
}

.pre-footer strong {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: none;
}

.pre-footer .contact li:first-child {
    margin-left: 2.3rem;
}

.pre-footer .contact li {
    margin-right: 4.188rem;
}

footer {
    font-size: 0.875rem;
}

footer p {
    color: var(--nav-a-footer-p-color);
    float: left;
    margin: 2rem 0.625rem;
}

footer .menu {
    margin: 2rem 0;
}

footer p a {
    color: var(--footer-email-color);
    font-weight: 600;
}

footer .menu {
    font-weight: 600;
    text-transform: uppercase;
    float: right;
}

footer .menu a {
    color: var(--footer-color-social-icon-color);
}

footer .menu a:hover,
footer .menu a:focus {
    text-decoration: underline;
}

footer li::after {
    content: "/" ;
    color: var(--footer-color-social-icon-color);
    margin: 0 0.5rem;
}

footer li:last-child::after{
    content: "";
}

/* ADAPTIVE */
@media screen and (max-width: 600px) {
  
}

@media (min-width: 600px) and (max-width: 800px) {
    .contact li:first-child {
        margin-left: 1.5rem;
    }

    .social li:last-child {
        margin-right: 1.5rem;
    }

    .post-title {
        margin-left: 6rem;
        font-size: 2.188rem;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .contact li:first-child {
        margin-left: 1.5rem;
    }

    .social li:last-child {
        margin-right: 1.5rem;
    }

    .post-title {
        margin-left: 6rem;
        font-size: 2.188rem;
    }

    .galery .container {
        width: 47.875rem;
    }
}

@media (min-width: 1000px) and (max-width: 1190px) {
    .contact li:first-child {
        margin-left: 1.5rem;
    }

    .social li:last-child {
        margin-right: 1.5rem;
    }
    
    .logo a {
        margin-left: 1.5rem;
    }
    
    .post-title {
        margin-left: 1.5rem;
    }

    .galery .container {
        width: 47.875rem;
    }
    
    .text-center {
        padding: 0 3rem;
    }
}

